<footer class="bg-gray-800 text-white py-4 px-3">
    <div class="container mx-auto flex flex-wrap items-center justify-between">
       <!-- Información de la asignatura -->
      <div class="footer-info">
        <span><strong>Diseño de Interfaces Web</strong> - DAW2 - IES ALIXAR</span>
      </div>
  
      <!-- Licencia Creative Commons -->
      <div class="footer-rights">
        <span>
          2025 IES ALIXAR. Licencia
          <a 
            href="https://creativecommons.org/licenses/by-nc-sa/4.0/" 
            target="_blank" 
            rel="noopener noreferrer"
          >
            Creative Commons BY-NC-SA 4.0
          </a>
        </span>
      </div>
      <div class="w-full md:w-1/2 md:text-center md:mb-0 mb-8">
        <ul class="list-reset flex justify-center flex-wrap text-xs md:text-sm gap-3">
          <li><a href="#" class="text-gray-400 hover:text-white">Contact</a></li>
          <li class="mx-4"><a href="#" class="text-gray-400 hover:text-white">Privacy Policy</a></li>
          <li><a href="#" class="text-gray-400 hover:text-white">Terms of Use</a></li>
        </ul>
      </div>
    </div>
  </footer>

